In [96]:
import json
import os
import pandas as pd

Reading the Data

In [7]:
rootdir = "all_seasons/team/"

In [69]:
paths = []
for root, dirs, files in os.walk(rootdir):
    for name in files:
        if name.endswith((".json")):
            full_path = os.path.join(root, name)
            paths.append(full_path)
            """with open(full_path) as json_file:
                data = json.load(json_file)
                doc_data = data["data"]
                team_ids = []
                for doc in doc_data:
                    team_ids.append(doc["team_id"])
                print(team_ids)"""

In [113]:
def declare_empty_jsons():
    team_ids = [6, 2, 7, 1, 4, 8, 3, 5, 30, 29, 28, 31]
    all_jsons = {}
    for ids in team_ids:
        all_jsons[ids] = []
    return(all_jsons)

In [107]:
def get_doc_data(doc):
    new_dict = {}
    team_name = doc["team_name"]
    team_id = doc["team_id"]
    new_dict["team_name"] = team_name
    match_played = doc["match_played"]
    new_dict["match_played"] = match_played
    value = doc["value"]
    new_dict[stat] = value
    rank = doc["rank"]
    new_dict["rank"] = rank
    
    return(team_id,new_dict)

In [108]:
def get_data(new_dict,all_jsons):
    stat = new_dict["stat"]
    stat_id = new_dict["stat_id"]
    minimum_criteria = new_dict["minimum_criteria"]
    data = new_dict["data"]
    print(stat)
    for doc in data:
        
        team_id,new_dict = get_doc_data(doc)
        all_jsons[team_id].append(new_dict)
        
    return(all_jsons)

In [114]:
all_jsons = declare_empty_jsons()

In [115]:
all_jsons

{6: [],
 2: [],
 7: [],
 1: [],
 4: [],
 8: [],
 3: [],
 5: [],
 30: [],
 29: [],
 28: [],
 31: []}

In [116]:
full_data = {}
for path in paths:
    
    with open(path) as json_file:
        data = json.load(json_file)
        stat = data["stat"]
        stat_id = data["stat_id"]
        minimum_criteria = data["minimum_criteria"]
        data = data["data"]
        print(stat)
        for doc in data:

            team_id,new_dict = get_doc_data(doc)
            all_jsons[team_id].append(new_dict)

Team Total Points Conceded
Team All-outs Conceded
Team All-outs Inflicted
Team Avg Points Scored
Team Tackle Points
Team Average Tackle Points
Team Total Points
Team DOD Raid Points
Team Super Tackles
Team Super Raid
Team Successful Raids
Team Raid Points
Team Successful Tackles
Team Average Raid Points

In [117]:
all_jsons

{6: [{'team_name': 'Patna Pirates',
   'match_played': 129,
   'Team Total Points Conceded': 4225,
   'rank': '1'},
  {'team_name': 'Patna Pirates',
   'match_played': 129,
   'Team All-outs Conceded': 141,
   'rank': '4'},
  {'team_name': 'Patna Pirates',
   'match_played': 129,
   'Team All-outs Inflicted': 191,
   'rank': '1'},
  {'team_name': 'Patna Pirates',
   'match_played': 129,
   'Team Avg Points Scored': 30,
   'rank': '1'},
  {'team_name': 'Patna Pirates',
   'match_played': 129,
   'Team Tackle Points': 1291,
   'rank': '2'},
  {'team_name': 'Patna Pirates',
   'match_played': 129,
   'Team Average Tackle Points': 10.01,
   'rank': '4'},
  {'team_name': 'Patna Pirates',
   'match_played': 129,
   'Team Total Points': 4450,
   'rank': '1'},
  {'team_name': 'Patna Pirates',
   'match_played': 129,
   'Team DOD Raid Points': 461,
   'rank': '2'},
  {'team_name': 'Patna Pirates',
   'match_played': 129,
   'Team Super Tackles': 130,
   'rank': '1'},
  {'team_name': 'Patna Pirates',
   'match_played': 129,
   'Team Super Raid': 88,
   'rank': '1'},
  {'team_name': 'Patna Pirates',
   'match_played': 129,
   'Team Successful Raids': 2025,
   'rank': '1'},
  {'team_name': 'Patna Pirates',
   'match_played': 129,
   'Team Raid Points': 2579,
   'rank': '1'},
  {'team_name': 'Patna Pirates',
   'match_played': 129,
   'Team Successful Tackles': 1165,
   'rank': '2'},
  {'team_name': 'Patna Pirates',
   'match_played': 129,
   'Team Average Raid Points': 19.99,
   'rank': '1'}],
 2: [{'team_name': 'Dabang Delhi K.C.',
   'match_played': 118,
   'Team Total Points Conceded': 3926,
   'rank': '2'},
  {'team_name': 'Dabang Delhi K.C.',
   'match_played': 118,
   'Team All-outs Conceded': 162,
   'rank': '1'},
  {'team_name': 'Dabang Delhi K.C.',
   'match_played': 118,
   'Team All-outs Inflicted': 133,
   'rank': '6'},
  {'team_name': 'Dabang Delhi K.C.',
   'match_played': 118,
   'Team Avg Points Scored': 26.82,
   'rank': '9'},
  {'team_name': 'Dabang Delhi K.C.',
   'match_played': 118,
   'Team Tackle Points': 1048,
   'rank': '8'},
  {'team_name': 'Dabang Delhi K.C.',
   'match_played': 118,
   'Team Average Tackle Points': 8.88,
   'rank': '11'},
  {'team_name': 'Dabang Delhi K.C.',
   'match_played': 118,
   'Team Total Points': 3642,
   'rank': '8'},
  {'team_name': 'Dabang Delhi K.C.',
   'match_played': 118,
   'Team DOD Raid Points': 438,
   'rank': '7'},
  {'team_name': 'Dabang Delhi K.C.',
   'match_played': 118,
   'Team Super Tackles': 95,
   'rank': '7'},
  {'team_name': 'Dabang Delhi K.C.',
   'match_played': 118,
   'Team Super Raid': 61,
   'rank': '6'},
  {'team_name': 'Dabang Delhi K.C.',
   'match_played': 118,
   'Team Successful Raids': 1698,
   'rank': '6'},
  {'team_name': 'Dabang Delhi K.C.',
   'match_played': 118,
   'Team Raid Points': 2117,
   'rank': '6'},
  {'team_name': 'Dabang Delhi K.C.',
   'match_played': 118,
   'Team Successful Tackles': 960,
   'rank': '8'},
  {'team_name': 'Dabang Delhi K.C.',
   'match_played': 118,
   'Team Average Raid Points': 17.94,
   'rank': '8'}],
 7: [{'team_name': 'Puneri Paltan',
   'match_played': 124,
   'Team Total Points Conceded': 3922,
   'rank': '3'},
  {'team_name': 'Puneri Paltan',
   'match_played': 124,
   'Team All-outs Conceded': 156,
   'rank': '2'},
  {'team_name': 'Puneri Paltan',
   'match_played': 124,
   'Team All-outs Inflicted': 133,
   'rank': '6'},
  {'team_name': 'Puneri Paltan',
   'match_played': 124,
   'Team Avg Points Scored': 26.78,
   'rank': '10'},
  {'team_name': 'Puneri Paltan',
   'match_played': 124,
   'Team Tackle Points': 1255,
   'rank': '3'},
  {'team_name': 'Puneri Paltan',
   'match_played': 124,
   'Team Average Tackle Points': 10.12,
   'rank': '3'},
  {'team_name': 'Puneri Paltan',
   'match_played': 124,
   'Team Total Points': 3814,
   'rank': '5'},
  {'team_name': 'Puneri Paltan',
   'match_played': 124,
   'Team DOD Raid Points': 518,
   'rank': '1'},
  {'team_name': 'Puneri Paltan',
   'match_played': 124,
   'Team Super Tackles': 122,
   'rank': '3'},
  {'team_name': 'Puneri Paltan',
   'match_played': 124,
   'Team Super Raid': 63,
   'rank': '3'},
  {'team_name': 'Puneri Paltan',
   'match_played': 124,
   'Team Successful Raids': 1651,
   'rank': '7'},
  {'team_name': 'Puneri Paltan',
   'match_played': 124,
   'Team Raid Points': 2066,
   'rank': '7'},
  {'team_name': 'Puneri Paltan',
   'match_played': 124,
   'Team Successful Tackles': 1141,
   'rank': '3'},
  {'team_name': 'Puneri Paltan',
   'match_played': 124,
   'Team Average Raid Points': 16.66,
   'rank': '12'}],
 1: [{'team_name': 'Bengaluru Bulls',
   'match_played': 123,
   'Team Total Points Conceded': 3835,
   'rank': '4'},
  {'team_name': 'Bengaluru Bulls',
   'match_played': 123,
   'Team All-outs Conceded': 143,
   'rank': '3'},
  {'team_name': 'Bengaluru Bulls',
   'match_played': 123,
   'Team All-outs Inflicted': 149,
   'rank': '3'},
  {'team_name': 'Bengaluru Bulls',
   'match_played': 123,
   'Team Avg Points Scored': 27.6,
   'rank': '7'},
  {'team_name': 'Bengaluru Bulls',
   'match_played': 123,
   'Team Tackle Points': 1152,
   'rank': '6'},
  {'team_name': 'Bengaluru Bulls',
   'match_played': 123,
   'Team Average Tackle Points': 9.37,
   'rank': '9'},
  {'team_name': 'Bengaluru Bulls',
   'match_played': 123,
   'Team Total Points': 3886,
   'rank': '3'},
  {'team_name': 'Bengaluru Bulls',
   'match_played': 123,
   'Team DOD Raid Points': 449,
   'rank': '4'},
  {'team_name': 'Bengaluru Bulls',
   'match_played': 123,
   'Team Super Tackles': 93,
   'rank': '8'},
  {'team_name': 'Bengaluru Bulls',
   'match_played': 123,
   'Team Super Raid': 62,
   'rank': '4'},
  {'team_name': 'Bengaluru Bulls',
   'match_played': 123,
   'Team Successful Raids': 1779,
   'rank': '3'},
  {'team_name': 'Bengaluru Bulls',
   'match_played': 123,
   'Team Raid Points': 2244,
   'rank': '2'},
  {'team_name': 'Bengaluru Bulls',
   'match_played': 123,
   'Team Successful Tackles': 1066,
   'rank': '4'},
  {'team_name': 'Bengaluru Bulls',
   'match_played': 123,
   'Team Average Raid Points': 18.24,
   'rank': '5'}],
 4: [{'team_name': 'Bengal Warriors',
   'match_played': 122,
   'Team Total Points Conceded': 3834,
   'rank': '5'},
  {'team_name': 'Bengal Warriors',
   'match_played': 122,
   'Team All-outs Conceded': 141,
   'rank': '4'},
  {'team_name': 'Bengal Warriors',
   'match_played': 122,
   'Team All-outs Inflicted': 126,
   'rank': '8'},
  {'team_name': 'Bengal Warriors',
   'match_played': 122,
   'Team Avg Points Scored': 26.63,
   'rank': '11'},
  {'team_name': 'Bengal Warriors',
   'match_played': 122,
   'Team Tackle Points': 1092,
   'rank': '7'},
  {'team_name': 'Bengal Warriors',
   'match_played': 122,
   'Team Average Tackle Points': 8.95,
   'rank': '10'},
  {'team_name': 'Bengal Warriors',
   'match_played': 122,
   'Team Total Points': 3704,
   'rank': '7'},
  {'team_name': 'Bengal Warriors',
   'match_played': 122,
   'Team DOD Raid Points': 444,
   'rank': '6'},
  {'team_name': 'Bengal Warriors',
   'match_played': 122,
   'Team Super Tackles': 98,
   'rank': '6'},
  {'team_name': 'Bengal Warriors',
   'match_played': 122,
   'Team Super Raid': 68,
   'rank': '2'},
  {'team_name': 'Bengal Warriors',
   'match_played': 122,
   'Team Successful Raids': 1725,
   'rank': '5'},
  {'team_name': 'Bengal Warriors',
   'match_played': 122,
   'Team Raid Points': 2158,
   'rank': '5'},
  {'team_name': 'Bengal Warriors',
   'match_played': 122,
   'Team Successful Tackles': 999,
   'rank': '7'},
  {'team_name': 'Bengal Warriors',
   'match_played': 122,
   'Team Average Raid Points': 17.69,
   'rank': '9'}],
 8: [{'team_name': 'Telugu Titans',
   'match_played': 120,
   'Team Total Points Conceded': 3790,
   'rank': '6'},
  {'team_name': 'Telugu Titans',
   'match_played': 120,
   'Team All-outs Conceded': 130,
   'rank': '8'},
  {'team_name': 'Telugu Titans',
   'match_played': 120,
   'Team All-outs Inflicted': 138,
   'rank': '4'},
  {'team_name': 'Telugu Titans',
   'match_played': 120,
   'Team Avg Points Scored': 28.17,
   'rank': '4'},
  {'team_name': 'Telugu Titans',
   'match_played': 120,
   'Team Tackle Points': 1157,
   'rank': '4'},
  {'team_name': 'Telugu Titans',
   'match_played': 120,
   'Team Average Tackle Points': 9.64,
   'rank': '6'},
  {'team_name': 'Telugu Titans',
   'match_played': 120,
   'Team Total Points': 3833,
   'rank': '4'},
  {'team_name': 'Telugu Titans',
   'match_played': 120,
   'Team DOD Raid Points': 425,
   'rank': '8'},
  {'team_name': 'Telugu Titans',
   'match_played': 120,
   'Team Super Tackles': 115,
   'rank': '4'},
  {'team_name': 'Telugu Titans',
   'match_played': 120,
   'Team Super Raid': 58,
   'rank': '8'},
  {'team_name': 'Telugu Titans',
   'match_played': 120,
   'Team Successful Raids': 1798,
   'rank': '2'},
  {'team_name': 'Telugu Titans',
   'match_played': 120,
   'Team Raid Points': 2224,
   'rank': '3'},
  {'team_name': 'Telugu Titans',
   'match_played': 120,
   'Team Successful Tackles': 1048,
   'rank': '5'},
  {'team_name': 'Telugu Titans',
   'match_played': 120,
   'Team Average Raid Points': 18.53,
   'rank': '3'}],
 3: [{'team_name': 'Jaipur Pink Panthers',
   'match_played': 121,
   'Team Total Points Conceded': 3755,
   'rank': '7'},
  {'team_name': 'Jaipur Pink Panthers',
   'match_played': 121,
   'Team All-outs Conceded': 139,
   'rank': '6'},
  {'team_name': 'Jaipur Pink Panthers',
   'match_played': 121,
   'Team All-outs Inflicted': 134,
   'rank': '5'},
  {'team_name': 'Jaipur Pink Panthers',
   'match_played': 121,
   'Team Avg Points Scored': 26.61,
   'rank': '12'},
  {'team_name': 'Jaipur Pink Panthers',
   'match_played': 121,
   'Team Tackle Points': 1155,
   'rank': '5'},
  {'team_name': 'Jaipur Pink Panthers',
   'match_played': 121,
   'Team Average Tackle Points': 9.55,
   'rank': '8'},
  {'team_name': 'Jaipur Pink Panthers',
   'match_played': 121,
   'Team Total Points': 3714,
   'rank': '6'},
  {'team_name': 'Jaipur Pink Panthers',
   'match_played': 121,
   'Team DOD Raid Points': 461,
   'rank': '2'},
  {'team_name': 'Jaipur Pink Panthers',
   'match_played': 121,
   'Team Super Tackles': 129,
   'rank': '2'},
  {'team_name': 'Jaipur Pink Panthers',
   'match_played': 121,
   'Team Super Raid': 60,
   'rank': '7'},
  {'team_name': 'Jaipur Pink Panthers',
   'match_played': 121,
   'Team Successful Raids': 1628,
   'rank': '8'},
  {'team_name': 'Jaipur Pink Panthers',
   'match_played': 121,
   'Team Raid Points': 2066,
   'rank': '7'},
  {'team_name': 'Jaipur Pink Panthers',
   'match_played': 121,
   'Team Successful Tackles': 1031,
   'rank': '6'},
  {'team_name': 'Jaipur Pink Panthers',
   'match_played': 121,
   'Team Average Raid Points': 17.07,
   'rank': '11'}],
 5: [{'team_name': 'U Mumba',
   'match_played': 123,
   'Team Total Points Conceded': 3638,
   'rank': '8'},
  {'team_name': 'U Mumba',
   'match_played': 123,
   'Team All-outs Conceded': 135,
   'rank': '7'},
  {'team_name': 'U Mumba',
   'match_played': 123,
   'Team All-outs Inflicted': 167,
   'rank': '2'},
  {'team_name': 'U Mumba',
   'match_played': 123,
   'Team Avg Points Scored': 28.46,
   'rank': '3'},
  {'team_name': 'U Mumba',
   'match_played': 123,
   'Team Tackle Points': 1293,
   'rank': '1'},
  {'team_name': 'U Mumba',
   'match_played': 123,
   'Team Average Tackle Points': 10.51,
   'rank': '2'},
  {'team_name': 'U Mumba',
   'match_played': 123,
   'Team Total Points': 4001,
   'rank': '2'},
  {'team_name': 'U Mumba',
   'match_played': 123,
   'Team DOD Raid Points': 446,
   'rank': '5'},
  {'team_name': 'U Mumba',
   'match_played': 123,
   'Team Super Tackles': 102,
   'rank': '5'},
  {'team_name': 'U Mumba',
   'match_played': 123,
   'Team Super Raid': 62,
   'rank': '4'},
  {'team_name': 'U Mumba',
   'match_played': 123,
   'Team Successful Raids': 1753,
   'rank': '4'},
  {'team_name': 'U Mumba',
   'match_played': 123,
   'Team Raid Points': 2208,
   'rank': '4'},
  {'team_name': 'U Mumba',
   'match_played': 123,
   'Team Successful Tackles': 1193,
   'rank': '1'},
  {'team_name': 'U Mumba',
   'match_played': 123,
   'Team Average Raid Points': 17.95,
   'rank': '7'}],
 30: [{'team_name': 'U.P. Yoddha',
   'match_played': 65,
   'Team Total Points Conceded': 2150,
   'rank': '9'},
  {'team_name': 'U.P. Yoddha',
   'match_played': 65,
   'Team All-outs Conceded': 83,
   'rank': '10'},
  {'team_name': 'U.P. Yoddha',
   'match_played': 65,
   'Team All-outs Inflicted': 69,
   'rank': '10'},
  {'team_name': 'U.P. Yoddha',
   'match_played': 65,
   'Team Avg Points Scored': 28.07,
   'rank': '5'},
  {'team_name': 'U.P. Yoddha',
   'match_played': 65,
   'Team Tackle Points': 646,
   'rank': '10'},
  {'team_name': 'U.P. Yoddha',
   'match_played': 65,
   'Team Average Tackle Points': 9.94,
   'rank': '5'},
  {'team_name': 'U.P. Yoddha',
   'match_played': 65,
   'Team Total Points': 2088,
   'rank': '10'},
  {'team_name': 'U.P. Yoddha',
   'match_played': 65,
   'Team DOD Raid Points': 233,
   'rank': '9'},
  {'team_name': 'U.P. Yoddha',
   'match_played': 65,
   'Team Super Tackles': 60,
   'rank': '9'},
  {'team_name': 'U.P. Yoddha',
   'match_played': 65,
   'Team Super Raid': 37,
   'rank': '9'},
  {'team_name': 'U.P. Yoddha',
   'match_played': 65,
   'Team Successful Raids': 923,
   'rank': '12'},
  {'team_name': 'U.P. Yoddha',
   'match_played': 65,
   'Team Raid Points': 1179,
   'rank': '9'},
  {'team_name': 'U.P. Yoddha',
   'match_played': 65,
   'Team Successful Tackles': 590,
   'rank': '10'},
  {'team_name': 'U.P. Yoddha',
   'match_played': 65,
   'Team Average Raid Points': 18.14,
   'rank': '6'}],
 29: [{'team_name': 'Tamil Thalaivas',
   'match_played': 62,
   'Team Total Points Conceded': 2102,
   'rank': '10'},
  {'team_name': 'Tamil Thalaivas',
   'match_played': 62,
   'Team All-outs Conceded': 84,
   'rank': '9'},
  {'team_name': 'Tamil Thalaivas',
   'match_played': 62,
   'Team All-outs Inflicted': 52,
   'rank': '12'},
  {'team_name': 'Tamil Thalaivas',
   'match_played': 62,
   'Team Avg Points Scored': 27.2,
   'rank': '8'},
  {'team_name': 'Tamil Thalaivas',
   'match_played': 62,
   'Team Tackle Points': 545,
   'rank': '12'},
  {'team_name': 'Tamil Thalaivas',
   'match_played': 62,
   'Team Average Tackle Points': 8.79,
   'rank': '12'},
  {'team_name': 'Tamil Thalaivas',
   'match_played': 62,
   'Team Total Points': 1877,
   'rank': '12'},
  {'team_name': 'Tamil Thalaivas',
   'match_played': 62,
   'Team DOD Raid Points': 207,
   'rank': '11'},
  {'team_name': 'Tamil Thalaivas',
   'match_played': 62,
   'Team Super Tackles': 45,
   'rank': '11'},
  {'team_name': 'Tamil Thalaivas',
   'match_played': 62,
   'Team Super Raid': 16,
   'rank': '12'},
  {'team_name': 'Tamil Thalaivas',
   'match_played': 62,
   'Team Successful Raids': 943,
   'rank': '9'},
  {'team_name': 'Tamil Thalaivas',
   'match_played': 62,
   'Team Raid Points': 1142,
   'rank': '12'},
  {'team_name': 'Tamil Thalaivas',
   'match_played': 62,
   'Team Successful Tackles': 502,
   'rank': '12'},
  {'team_name': 'Tamil Thalaivas',
   'match_played': 62,
   'Team Average Raid Points': 18.42,
   'rank': '4'}],
 28: [{'team_name': 'Haryana Steelers',
   'match_played': 61,
   'Team Total Points Conceded': 2050,
   'rank': '11'},
  {'team_name': 'Haryana Steelers',
   'match_played': 61,
   'Team All-outs Conceded': 75,
   'rank': '11'},
  {'team_name': 'Haryana Steelers',
   'match_played': 61,
   'Team All-outs Inflicted': 65,
   'rank': '11'},
  {'team_name': 'Haryana Steelers',
   'match_played': 61,
   'Team Avg Points Scored': 28.7,
   'rank': '2'},
  {'team_name': 'Haryana Steelers',
   'match_played': 61,
   'Team Tackle Points': 588,
   'rank': '11'},
  {'team_name': 'Haryana Steelers',
   'match_played': 61,
   'Team Average Tackle Points': 9.64,
   'rank': '6'},
  {'team_name': 'Haryana Steelers',
   'match_played': 61,
   'Team Total Points': 1985,
   'rank': '11'},
  {'team_name': 'Haryana Steelers',
   'match_played': 61,
   'Team DOD Raid Points': 203,
   'rank': '12'},
  {'team_name': 'Haryana Steelers',
   'match_played': 61,
   'Team Super Tackles': 47,
   'rank': '10'},
  {'team_name': 'Haryana Steelers',
   'match_played': 61,
   'Team Super Raid': 36,
   'rank': '10'},
  {'team_name': 'Haryana Steelers',
   'match_played': 61,
   'Team Successful Raids': 928,
   'rank': '11'},
  {'team_name': 'Haryana Steelers',
   'match_played': 61,
   'Team Raid Points': 1163,
   'rank': '10'},
  {'team_name': 'Haryana Steelers',
   'match_played': 61,
   'Team Successful Tackles': 543,
   'rank': '11'},
  {'team_name': 'Haryana Steelers',
   'match_played': 61,
   'Team Average Raid Points': 19.07,
   'rank': '2'}],
 31: [{'team_name': 'Gujarat Fortunegiants',
   'match_played': 66,
   'Team Total Points Conceded': 1911,
   'rank': '12'},
  {'team_name': 'Gujarat Fortunegiants',
   'match_played': 66,
   'Team All-outs Conceded': 56,
   'rank': '12'},
  {'team_name': 'Gujarat Fortunegiants',
   'match_played': 66,
   'Team All-outs Inflicted': 88,
   'rank': '9'},
  {'team_name': 'Gujarat Fortunegiants',
   'match_played': 66,
   'Team Avg Points Scored': 27.9,
   'rank': '6'},
  {'team_name': 'Gujarat Fortunegiants',
   'match_played': 66,
   'Team Tackle Points': 697,
   'rank': '9'},
  {'team_name': 'Gujarat Fortunegiants',
   'match_played': 66,
   'Team Average Tackle Points': 10.56,
   'rank': '1'},
  {'team_name': 'Gujarat Fortunegiants',
   'match_played': 66,
   'Team Total Points': 2144,
   'rank': '9'},
  {'team_name': 'Gujarat Fortunegiants',
   'match_played': 66,
   'Team DOD Raid Points': 222,
   'rank': '10'},
  {'team_name': 'Gujarat Fortunegiants',
   'match_played': 66,
   'Team Super Tackles': 45,
   'rank': '11'},
  {'team_name': 'Gujarat Fortunegiants',
   'match_played': 66,
   'Team Super Raid': 25,
   'rank': '11'},
  {'team_name': 'Gujarat Fortunegiants',
   'match_played': 66,
   'Team Successful Raids': 942,
   'rank': '10'},
  {'team_name': 'Gujarat Fortunegiants',
   'match_played': 66,
   'Team Raid Points': 1145,
   'rank': '11'},
  {'team_name': 'Gujarat Fortunegiants',
   'match_played': 66,
   'Team Successful Tackles': 655,
   'rank': '9'},
  {'team_name': 'Gujarat Fortunegiants',
   'match_played': 66,
   'Team Average Raid Points': 17.35,
   'rank': '10'}]}

In [ ]:
columns = ["Team Total Points Conceded","Team All-outs Conceded","Team All-outs Inflicted","Team Avg Points Scored",
          "Team Average Tackle Points","Team Total Points","Team DOD Raid Points","Team Super Tackles"]

In [119]:
def merge_jsons(dict_jsons):
    
    result = {}
    for doc in dict_jsons:
        result.update(doc)
    return(result)

In [120]:
final_doc = {}
for key in all_jsons:
    
    final_doc[key] = merge_jsons(all_jsons[key])

In [121]:
final_doc

{6: {'team_name': 'Patna Pirates',
  'match_played': 129,
  'Team Total Points Conceded': 4225,
  'rank': '1',
  'Team All-outs Conceded': 141,
  'Team All-outs Inflicted': 191,
  'Team Avg Points Scored': 30,
  'Team Tackle Points': 1291,
  'Team Average Tackle Points': 10.01,
  'Team Total Points': 4450,
  'Team DOD Raid Points': 461,
  'Team Super Tackles': 130,
  'Team Super Raid': 88,
  'Team Successful Raids': 2025,
  'Team Raid Points': 2579,
  'Team Successful Tackles': 1165,
  'Team Average Raid Points': 19.99},
 2: {'team_name': 'Dabang Delhi K.C.',
  'match_played': 118,
  'Team Total Points Conceded': 3926,
  'rank': '8',
  'Team All-outs Conceded': 162,
  'Team All-outs Inflicted': 133,
  'Team Avg Points Scored': 26.82,
  'Team Tackle Points': 1048,
  'Team Average Tackle Points': 8.88,
  'Team Total Points': 3642,
  'Team DOD Raid Points': 438,
  'Team Super Tackles': 95,
  'Team Super Raid': 61,
  'Team Successful Raids': 1698,
  'Team Raid Points': 2117,
  'Team Successful Tackles': 960,
  'Team Average Raid Points': 17.94},
 7: {'team_name': 'Puneri Paltan',
  'match_played': 124,
  'Team Total Points Conceded': 3922,
  'rank': '12',
  'Team All-outs Conceded': 156,
  'Team All-outs Inflicted': 133,
  'Team Avg Points Scored': 26.78,
  'Team Tackle Points': 1255,
  'Team Average Tackle Points': 10.12,
  'Team Total Points': 3814,
  'Team DOD Raid Points': 518,
  'Team Super Tackles': 122,
  'Team Super Raid': 63,
  'Team Successful Raids': 1651,
  'Team Raid Points': 2066,
  'Team Successful Tackles': 1141,
  'Team Average Raid Points': 16.66},
 1: {'team_name': 'Bengaluru Bulls',
  'match_played': 123,
  'Team Total Points Conceded': 3835,
  'rank': '5',
  'Team All-outs Conceded': 143,
  'Team All-outs Inflicted': 149,
  'Team Avg Points Scored': 27.6,
  'Team Tackle Points': 1152,
  'Team Average Tackle Points': 9.37,
  'Team Total Points': 3886,
  'Team DOD Raid Points': 449,
  'Team Super Tackles': 93,
  'Team Super Raid': 62,
  'Team Successful Raids': 1779,
  'Team Raid Points': 2244,
  'Team Successful Tackles': 1066,
  'Team Average Raid Points': 18.24},
 4: {'team_name': 'Bengal Warriors',
  'match_played': 122,
  'Team Total Points Conceded': 3834,
  'rank': '9',
  'Team All-outs Conceded': 141,
  'Team All-outs Inflicted': 126,
  'Team Avg Points Scored': 26.63,
  'Team Tackle Points': 1092,
  'Team Average Tackle Points': 8.95,
  'Team Total Points': 3704,
  'Team DOD Raid Points': 444,
  'Team Super Tackles': 98,
  'Team Super Raid': 68,
  'Team Successful Raids': 1725,
  'Team Raid Points': 2158,
  'Team Successful Tackles': 999,
  'Team Average Raid Points': 17.69},
 8: {'team_name': 'Telugu Titans',
  'match_played': 120,
  'Team Total Points Conceded': 3790,
  'rank': '3',
  'Team All-outs Conceded': 130,
  'Team All-outs Inflicted': 138,
  'Team Avg Points Scored': 28.17,
  'Team Tackle Points': 1157,
  'Team Average Tackle Points': 9.64,
  'Team Total Points': 3833,
  'Team DOD Raid Points': 425,
  'Team Super Tackles': 115,
  'Team Super Raid': 58,
  'Team Successful Raids': 1798,
  'Team Raid Points': 2224,
  'Team Successful Tackles': 1048,
  'Team Average Raid Points': 18.53},
 3: {'team_name': 'Jaipur Pink Panthers',
  'match_played': 121,
  'Team Total Points Conceded': 3755,
  'rank': '11',
  'Team All-outs Conceded': 139,
  'Team All-outs Inflicted': 134,
  'Team Avg Points Scored': 26.61,
  'Team Tackle Points': 1155,
  'Team Average Tackle Points': 9.55,
  'Team Total Points': 3714,
  'Team DOD Raid Points': 461,
  'Team Super Tackles': 129,
  'Team Super Raid': 60,
  'Team Successful Raids': 1628,
  'Team Raid Points': 2066,
  'Team Successful Tackles': 1031,
  'Team Average Raid Points': 17.07},
 5: {'team_name': 'U Mumba',
  'match_played': 123,
  'Team Total Points Conceded': 3638,
  'rank': '7',
  'Team All-outs Conceded': 135,
  'Team All-outs Inflicted': 167,
  'Team Avg Points Scored': 28.46,
  'Team Tackle Points': 1293,
  'Team Average Tackle Points': 10.51,
  'Team Total Points': 4001,
  'Team DOD Raid Points': 446,
  'Team Super Tackles': 102,
  'Team Super Raid': 62,
  'Team Successful Raids': 1753,
  'Team Raid Points': 2208,
  'Team Successful Tackles': 1193,
  'Team Average Raid Points': 17.95},
 30: {'team_name': 'U.P. Yoddha',
  'match_played': 65,
  'Team Total Points Conceded': 2150,
  'rank': '6',
  'Team All-outs Conceded': 83,
  'Team All-outs Inflicted': 69,
  'Team Avg Points Scored': 28.07,
  'Team Tackle Points': 646,
  'Team Average Tackle Points': 9.94,
  'Team Total Points': 2088,
  'Team DOD Raid Points': 233,
  'Team Super Tackles': 60,
  'Team Super Raid': 37,
  'Team Successful Raids': 923,
  'Team Raid Points': 1179,
  'Team Successful Tackles': 590,
  'Team Average Raid Points': 18.14},
 29: {'team_name': 'Tamil Thalaivas',
  'match_played': 62,
  'Team Total Points Conceded': 2102,
  'rank': '4',
  'Team All-outs Conceded': 84,
  'Team All-outs Inflicted': 52,
  'Team Avg Points Scored': 27.2,
  'Team Tackle Points': 545,
  'Team Average Tackle Points': 8.79,
  'Team Total Points': 1877,
  'Team DOD Raid Points': 207,
  'Team Super Tackles': 45,
  'Team Super Raid': 16,
  'Team Successful Raids': 943,
  'Team Raid Points': 1142,
  'Team Successful Tackles': 502,
  'Team Average Raid Points': 18.42},
 28: {'team_name': 'Haryana Steelers',
  'match_played': 61,
  'Team Total Points Conceded': 2050,
  'rank': '2',
  'Team All-outs Conceded': 75,
  'Team All-outs Inflicted': 65,
  'Team Avg Points Scored': 28.7,
  'Team Tackle Points': 588,
  'Team Average Tackle Points': 9.64,
  'Team Total Points': 1985,
  'Team DOD Raid Points': 203,
  'Team Super Tackles': 47,
  'Team Super Raid': 36,
  'Team Successful Raids': 928,
  'Team Raid Points': 1163,
  'Team Successful Tackles': 543,
  'Team Average Raid Points': 19.07},
 31: {'team_name': 'Gujarat Fortunegiants',
  'match_played': 66,
  'Team Total Points Conceded': 1911,
  'rank': '10',
  'Team All-outs Conceded': 56,
  'Team All-outs Inflicted': 88,
  'Team Avg Points Scored': 27.9,
  'Team Tackle Points': 697,
  'Team Average Tackle Points': 10.56,
  'Team Total Points': 2144,
  'Team DOD Raid Points': 222,
  'Team Super Tackles': 45,
  'Team Super Raid': 25,
  'Team Successful Raids': 942,
  'Team Raid Points': 1145,
  'Team Successful Tackles': 655,
  'Team Average Raid Points': 17.35}}

In [129]:
df = pd.DataFrame()

In [130]:
for key in final_doc:
    df = df.append(final_doc[key],ignore_index= True)

In [131]:
df

,Team All-outs Conceded,Team All-outs Inflicted,Team Average Raid Points,Team Average Tackle Points,Team Avg Points Scored,Team DOD Raid Points,Team Raid Points,Team Successful Raids,Team Successful Tackles,Team Super Raid,Team Super Tackles,Team Tackle Points,Team Total Points,Team Total Points Conceded,match_played,rank,team_name
0,141.0,191.0,19.99,10.01,30.00,461.0,2579.0,2025.0,1165.0,88.0,130.0,1291.0,4450.0,4225.0,129.0,1,Patna Pirates
1,162.0,133.0,17.94,8.88,26.82,438.0,2117.0,1698.0,960.0,61.0,95.0,1048.0,3642.0,3926.0,118.0,8,Dabang Delhi K.C.
2,156.0,133.0,16.66,10.12,26.78,518.0,2066.0,1651.0,1141.0,63.0,122.0,1255.0,3814.0,3922.0,124.0,12,Puneri Paltan
3,143.0,149.0,18.24,9.37,27.60,449.0,2244.0,1779.0,1066.0,62.0,93.0,1152.0,3886.0,3835.0,123.0,5,Bengaluru Bulls
4,141.0,126.0,17.69,8.95,26.63,444.0,2158.0,1725.0,999.0,68.0,98.0,1092.0,3704.0,3834.0,122.0,9,Bengal Warriors
5,130.0,138.0,18.53,9.64,28.17,425.0,2224.0,1798.0,1048.0,58.0,115.0,1157.0,3833.0,3790.0,120.0,3,Telugu Titans
6,139.0,134.0,17.07,9.55,26.61,461.0,2066.0,1628.0,1031.0,60.0,129.0,1155.0,3714.0,3755.0,121.0,11,Jaipur Pink Panthers
7,135.0,167.0,17.95,10.51,28.46,446.0,2208.0,1753.0,1193.0,62.0,102.0,1293.0,4001.0,3638.0,123.0,7,U Mumba
8,83.0,69.0,18.14,9.94,28.07,233.0,1179.0,923.0,590.0,37.0,60.0,646.0,2088.0,2150.0,65.0,6,U.P. Yoddha
9,84.0,52.0,18.42,8.79,27.20,207.0,1142.0,943.0,502.0,16.0,45.0,545.0,1877.0,2102.0,62.0,4,Tamil Thalaivas
10,75.0,65.0,19.07,9.64,28.70,203.0,1163.0,928.0,543.0,36.0,47.0,588.0,1985.0,2050.0,61.0,2,Haryana Steelers
11,56.0,88.0,17.35,10.56,27.90,222.0,1145.0,942.0,655.0,25.0,45.0,697.0,2144.0,1911.0,66.0,10,Gujarat Fortunegiants